body {
  background-color: #1e1e1e;
  color: #fff; 
}
.selection {
  background-color: white;
  color: black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  justify-content: center;
  margin: 0 auto 20px auto;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: transparent; 
  border: 1px solid #007bff;
  cursor: pointer;
  user-select: none;
}

.cell.ship {
  background-color: #007bff;
}

.cell.hit {
  background-color: red !important;
}

.cell.miss {
  background-color: lightgrey !important;
}

.cell.enemy-attack {
  box-shadow: 0 0 0 2px orange inset;
}

.cell.ship-DESTROYER {
  background-color: #007bff;
}
.cell.ship-CRUISER {
  background-color: #28a745;
}
.cell.ship-SUBMARINE {
  background-color: #ffc107;
}
.cell.ship-LANCE {
  background-color: #ad35dc;
}
.cell.sunk {
  background-color: red !important;
}